.box{
  text-align: center;
}
.box button{

    display: inline-block;
    margin: 0 18px;
    padding: 0 0 5px 0;
    vertical-align: top;
    color: #aaa;
    border: 0;
    border-bottom: 2px solid white;
    background-color: transparent;
}

.poster{
    display: block;
    width: 245px;
    height: 352px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

.box_list{
    display: flex;
}
.box_list img{
    border: 0;
    display: block;
}

.info{
    width: 10px;
    height: 10px;
    
}

.heart{
    object-fit: cover;
}

html{
    background-color: white;
}